@charset "utf-8";
.carousel-item {
    height: 100vh;
    background-position: center center;
    background-size: cover;
}
.jumbotron {
    background-position: center center;
    background-size: cover;
    margin-top: 10px;

}

.title {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}
.row.no-gutters {
    background-image: url(image/81d2420c87426f17b4e03b3216b54b8f.jpg);
    background-size: cover;
    background-position: center center;

}

.card-img-top {
  background-position: center center;
  background-size: cover;
  padding-top: 10px;
  height: 200px;
}
.card-body {
  padding-top: 0px;
}
.card-text {
  text-align: justify;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-top: 10px;
}
#first {
    color: rgba(233,236,239,0.00);
}
#second {
    color: rgba(233,236,239,0.00);
}
#third {
    color: rgba(243,243,243,0.00);
}
#fourth {
    color: rgba(255,255,255,0.00);
}
